**/.vs
**/.vscode
**/bin
**/obj
**/out
**/log
**/logs
**/node_modules
**/.git
**/.gitignore
**/Dockerfile
**/docker-compose*.yml
**/.dockerignore
**/.env
**/.env.*
**/README.md
**/DEPLOYMENT.md
**/*.user
**/*.suo
**/*.md
**/BenchmarkDotNet.Artifacts
