html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.sidebar-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 70px;
}

.sidebar-logo img {
    height: 40px;
}

.sidebar-collapse-btn {
    position: absolute;
    right: 12px; 
    background: none;
    border: none;
    cursor: pointer;
}
.icon-color {
    color: hsl(202 80.3% 23.9%) !important;
}